#Data structure

1.  What are data structures, and why are they important ?
 -  Data structures are a way of organizing and storing data in a computer so that it can be accessed and used efficiently. They are important because choosing the right data structure can significantly impact the performance of an algorithm or program.

 2.  Explain the difference between mutable and immutable data types with examples.
  - Mutable data types can be changed after they are created, while immutable data types cannot . For example, lists and dictionaries are mutable, meaning you can add or remove elements, whereas strings and tuples are immutable .

3.  What are the main differences between lists and tuples in Python?
 - The main differences are that lists are mutable (can be changed) and defined with square brackets , while tuples are immutable (cannot be changed) and defined with parentheses  . This immutability makes tuples slightly faster in performance .

4.  Describe how dictionaries store data.
 - Dictionaries store data as key-value pairs . Each key is unique and is used to access its corresponding value, which allows for fast data retrieval .

 5.  Why might you use a set instead of a list in Python?
  - You would use a set when you need to store a collection of unique items and when the order of elements does not matter . Sets are also highly optimized for membership testing (checking if an element is present) .

6. What is a string in Python, and how is it different from a list?
 - A string is an immutable sequence of characters used to represent text . Unlike a list, a string cannot be modified after it's created, and it can only contain characters, whereas a list can hold various data types .

7.  How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity because they are immutable, meaning their contents cannot be changed after creation . This prevents accidental modification of data that should remain constant throughout the program .

8.  What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that maps keys to values for highly efficient lookup . Python's dictionaries are implemented using hash tables, which is why they provide fast access to data .

9.  Can lists contain different data types in Python?
 - Yes, lists in Python are heterogeneous, meaning they can store elements of different data types within the same list .

10.  Explain why strings are immutable in Python.
 - Strings are immutable in Python to ensure that the data they hold remains constant, which is important for things like dictionary keys or set elements where the value should not change . This also allows for certain internal optimizations and enhances security .

11.  What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer the advantage of fast lookups using keys, which is much more efficient than searching for an element in a list, especially for large datasets . They are ideal when you need to associate specific values with unique identifiers .

12.  Describe a scenario where using a tuple would be preferable over a list?
 - A tuple is preferable when you have a collection of items that should not change, such as coordinates (x, y), RGB color values, or days of the week . Using a tuple in such cases protects the data from accidental changes .

13.  How do sets handle duplicate values in Python?
 - Sets automatically handle duplicate values by only storing one instance of each element . If you add a duplicate item to a set, it is simply ignored, ensuring that all elements in the set remain unique .

14.  How does the “in” keyword work differently for lists and dictionaries?
 - For lists, the in keyword checks for the presence of a value among its elements, which can be slow for large lists as it may need to scan the entire list . For dictionaries, in checks for the presence of a key, which is very fast because it uses the hash table implementation .

15.  Can you modify the elements of a tuple? Explain why or why not.
 - No, you cannot modify the elements of a tuple because tuples are immutable . If you need to change, add, or remove elements, you would need to create a new tuple with the desired modifications .

16.  What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary that contains other dictionaries as its values . A use case would be storing employee data, where the outer dictionary keys are employee IDs and the values are dictionaries containing details like name, department, and salary .

17.  Describe the time complexity of accessing elements in a dictionary.
 - The time complexity of accessing elements in a dictionary is, on average, O(1), or constant time . This means the time it takes to retrieve an element is independent of the size of the dictionary, making it very efficient .

18.  In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries when you need an ordered collection of items and the position (index) of the elements is important . They are also suitable when the collection does not require key-value pairs .

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Historically, Python dictionaries were unordered because their primary goal was fast key-based lookup, not maintaining insertion order ,  this change could not rely on the order of elements when iterating through a dictionary .

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
 - In a list, data is retrieved by its numerical index, and the time taken can increase with the size of the list (O(n) for searching a value) . In a dictionary, data is retrieved by a unique key, which is very fast regardless of the dictionary's size (average O(1) complexity) .

  # Data structure (Practical)

1.  Write a code to create a string with your name and print it.

In [1]:
name = "Karan singh"
print(name)

Karan singh

2.  Write a code to find the length of the string "Hello World".

In [2]:
hello_string = "Hello World"
print(len(hello_string))

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
programming_string = "Python Programming"
print(programming_string[:3])

Pyt

4.  Write a code to convert the string "hello" to uppercase.

In [4]:
lowercase_string = "hello"
print(lowercase_string.upper())

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
fruit_string = "I like apple"
print(fruit_string.replace("apple", "orange"))

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
number_list_a = [1, 2, 3, 4, 5]
print(number_list_a)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
number_list_b = [1, 2, 3, 4]
number_list_b.append(10)
print(number_list_b)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
number_list_c = [1, 2, 3, 4, 5]
number_list_c.remove(3)
print(number_list_c)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
number_list_d = [10, 20, 30, 40, 50]
print(number_list_d[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
min_value = min(numbers)
print(min_value)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'kiwi')
is_kiwi_present = 'kiwi' in fruits
print(is_kiwi_present)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
number_set = {1, 2, 3, 4, 5}
number_set.clear()
print(number_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
number_set = {1, 2, 3, 4}
number_set.remove(4)
print(number_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
my_dictionary = {
    "name": "karan",
    "age": 20,
    "city": "jaipur"
}
print(my_dictionary)

{'name': 'karan', 'age': 20, 'city': 'jaipur'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
person = {'name': 'Alice', 'age': 30}
name = person['name']
print(name)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
person = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in person
print(city_exists)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
my_list = [1, 'hello', 3.14]
my_tuple = ('a', 'b', 'c')
my_dictionary = {'key1': 'value1', 'key2': 'value2'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1, 'hello', 3.14]
Tuple: ('a', 'b', 'c')
Dictionary: {'key1': 'value1', 'key2': 'value2'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the results.(replaced)

In [29]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[12, 42, 50, 65, 87]

28.  Write a code to create a list with strings and print the element at the third index.

In [30]:
string_list = ["first", "second", "third", "fourth"]
element_at_third_index = string_list[3]
print(element_at_third_index)

fourth

29.  Write a code to combine two dictionaries into one and print the result.

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [32]:
list_of_strings = ["apple", "banana", "apple", "cherry", "banana"]
converted_set = set(list_of_strings)
print(converted_set)

{'cherry', 'apple', 'banana'}